*{
  box-sizing: border-box;
}

/* Ajustes generales */

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
}

h1{ font-size: 3.5em;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif}
h2{ font-size: 2.7em;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif}
h3{ font-size: 2em;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif}
p{ font-size: 1.25em;
  font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif}
ul{ list-style: none;
  float:right;
color:white}

footer .footer_logos{
  color:white
}

.footer_texto{
  color:white
}

/* Ajustes en barra de navegación  */

.nav-link{
  color: #f6f6f6;
}
.nav-link a{
  padding: 0.31rem 0.75rem;
  text-decoration: none;
  color: white;
}
.navbar-nav .nav-link:hover {
  color: #ffe23b;
  border-bottom: 1.5px solid #ffe23b;
  transition: border-bottom .15s;
  padding-bottom: 4px;
}


 /* Ajustes en galería */

.carousel-item {
margin-left: 5rem;
margin-right: 5rem;
}

 /* Ajustes index */

 body {
   background-image: url("imagenes/fondo.png");
   background-size:auto;
   background-repeat:no-repeat;
   background-position:center;
  }
    
/* Ajustes en donde estamos */
.text-ubicacion{
  margin-left: 10%; 
}

/* Ajustes de contacto */

*{box-sizing:border-box;
  margin-top: 2%;}

form{
width:18.75rem;
padding:1rem;
border-radius:0.62rem;
margin:auto;
background-color:black;
color: white;
font-family: Century  Gothic,CenturyGothic,AppleGothic,sans-serif;
}

form label{
width:4.5rem;
font-weight:bold;
display:inline-block;
}

form input[type="text"],
form input[type="email"]{
width:11,25rem;
padding:0.18rem 0.62rem;
border:0.06rem solid #f6f6f6;
border-radius:3px;
background-color:#f6f6f6;
margin:8px 0;
display:inline-block;
}

form input[type="submit"]{
width:100%;
padding:0.5rem 1rem;
margin-top:2rem;
border:0.06rem solid #ffe23b;
border-radius:5px;
display:block;
color: black;
background-color:#ffe23b;
} 

form input[type="submit"]:hover{
cursor:pointer;
}

textarea{
width:100%;
height:6.25rem;
border: 0.06rem solid #f6f6f6;
border-radius:0,18rem;
background-color:#f6f6f6;			
margin:0.5rem 0;
resize:none;
display:block;
}

.foto{
  width: 35rem;
  height: 35rem;
}

/* Ajustes de medidas FULL RESPONSIVE */

@media(max-width: 768px) {
header{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
align-items: center;
justify-items: center;
}

.galeriaimg {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(1 15rem) ;
justify-items: center;
align-items: center;
}

.foto{
  width: 35rem;
  height: 35rem;
}
}