.carousel-item img {
    object-fit: cover;
    height: 30rem;
    width: 20rem;
  display: flex;
  justify-content: center;
  }
  
  .container {
    width: 50%;
    margin: 0 auto;
  }
  
  .carousel-item img {
    max-width: 100%;
  }